.tut-contentBox  { // parent ele for tut content
	// needs to be a flex
	position: relative;
	margin: 0;
	padding: 0;
	height: $rowH * 5;
	width: 100%;
	//border: 1px solid yellow;
}

.sceneBox { // #hc is this n/a now
	position: absolute;
	top: 0;
	margin-left: 170px;
	width: 80%;
	height: 475px;
	z-index: 10;
	//border: 1px solid yellow;
}

.pane { // this is class for ionic <ion-nav-view> eles 
	background-color: transparent;
}

#pageView {  // this is the ui-view in the parent ele
	width: 100%;
	height: 475px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: transparent;
	// border: 1px solid pink;
}

.pageView {  // this is the parent ele in the view template
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-size: 1.4em;
	//border: 1px solid lightBlue;
}

	.tutPg-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
		width: 100%;
		height: auto;
		padding-left: 15px;
		padding-bottom: 1em;
		//border: 1px solid lightBlue;
	}

	.tut-bgImg {
		height: 90%;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
		//opacity: 0.1;
		//border: 1px solid red;
	}

	.tut-bgImg--dim {
		opacity: 0.25;
	}

	// IMPORTS THE INDIVIDUAL TUTORIAL TEMPLATE LAYOUTS (flexbox setups)
	@import 'sceneStyles/waveNone';
	@import 'sceneStyles/waveSingle';
	@import 'sceneStyles/waveDouble';


	// STYLES THE WAVE CONTENT COMMON TO ALL LAYOUTS
	.tutWave-content {
		// should be identical to .tutNoWave-content w/ the exception of flex-direction
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
		text-align: left;
		//border: 1px solid orange;

		.leftBox {
			display: flex;
			flex-direction: column;
			max-height: 100%;
			width: 65%;
			//border: 1px solid lightBlue;
			
			.leftRow {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: flex-start;
				//height: auto;
				//border: 1px solid lightBlue;
			}

			.wave1 {
				margin-bottom: 15px;
				//border: 1px solid orange;
			}

			.waveFrame {
				position: relative;
				top: 0;
				left: 0;
				height: 170px;
				width: 500px;
				//padding: 10px;
				background-color: $blue-white;
				border: 10px solid $blue-white;
				border-radius: 10px;
				box-shadow: $itemShadow;
				z-index: 1;
				//border: 1px solid lime;
			} // end waveFrame


			// just a container
			.lpcBox {
				height: 150px;
				width: 480px;
				margin: auto;
				border-radius: 10px;
				background-color: $blue-light;
				z-index: 5;
				//border: 1px solid red;
			}
			.soundImgBox {
				position: relative;
				margin:0;
				padding: 0;
				height: 150px;
				background-size: 100% auto;
				width: 480px;
				border-radius: 10px;
				//border: 1px solid lime;
			}

			.waveFrame-label {
				position: relative;
				margin: 10px;
				top: -155px;
				//left: 137.5px;
				height: auto;
				width: 225px;
				padding: 7px 15px;
				margin: 0 auto;
				background-color: $blue-white;
				border-radius: 10px;
				text-align: center;
				z-index: 10;
				//border: 1px solid lime;

				.waveFrame-label--txt {
					font-size: 0.65em;
					line-height: 1em;
				}
				.waveFrame-label--title {
					font-size: 0.65em;
					font-weight: bold;
				}
			} // end .waveFrame-label

			.leftRow2 {
				padding: 0 20px;
				width: 500px;
				//border: 1px solid lime;
			}

			.leftRow3 {
				flex-direction: column;
			}
		}


		.rightBox {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			width: 33%;
			padding-top: 10px;
			//border: 1px solid orange;
			
			.rightRow1 {
				position: relative;
				display: flex;
				flex-direction: row;
				min-height: 25px;
				width: 100%;
				//border: 1px solid lightBlue;
			}

			.starBox {
				position: relative;
				height: 265px;
				width: 265px;
				//border: 1px solid lightBlue;
			}


			.starImg {
				position: relative;
				// max-height: 265px;
				// max-width: 265px;
				//border: 1px solid lightBlue;
			}
		}

	} // end .tutPgView-content


	// .tutPgView-content {
	// 	// should be identical to .tutNoWave-content w/ the exception of flex-direction
	// 	display: flex;
	// 	flex-direction: row;
	// 	flex-wrap: nowrap;
	// 	align-items: flex-start;
	// 	justify-content: space-between;
	// 	height: 100%;
	// 	//border: 1px solid orange;

	// 	.leftBox {
	// 		display: flex;
	// 		flex-direction: column;
	// 		height: 100%;
	// 		width: 65%;
	// 		//border: 1px solid lightBlue;
			
	// 		.leftRow {
	// 			display: flex;
	// 			flex-direction: row;
	// 			flex-wrap: nowrap;
	// 			align-items: flex-start;
	// 			height: 10%;
	// 			//border: 1px solid lightBlue;
	// 		}

	// 		.leftRow1 {

	// 		}
	// 		.leftRow2 {

	// 		}
	// 		.leftRow3 {
	// 			flex-direction: column;

	// 		}
	// 	}

	// 	.rightBox {
	// 		display: flex;
	// 		flex-direction: column;
	// 		height: 100%;
	// 		width: 33%;
	// 		border: 1px solid orange;
			
	// 		.rightRow1 {
	// 			display: flex;
	// 			flex-direction: row;
	// 			min-height: 25px;
	// 			width: 100%;
	// 			//border: 1px solid lightBlue;
	// 		}

	// 		.starBox {
	// 			//position: relative;
	// 			height: 265px;
	// 			width: 267px;
	// 			//top: $rowH * 2;
	// 			border: 1px solid yellow;
	// 		}
	// 	}

	// } // end .tutPgView-content


.inputBox {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 65%;
	height: auto;
	top: $rowH * 3.5;
	margin-bottom: $rowHalf;
	//border: 1px solid red;
}

button.tutBtn, a.tutBtn {
	min-height: $rowHalf;
	min-width: 150px;
	border-radius: $rowHalf;
	border: none;
	box-shadow: $itemShadow;
	color: white;
	font-size: 1em;
	background-color: $blue-main;
	z-index: 99;
}

.lpc1 {
	position: absolute;
	top: $rowHalf * 0.85;
	left: 0;
	height: 215px;
	width: 490px;
	//border: 1px solid red;
}


// --------------------------------------------
// IMPORTS THE SANDBAR STYLES
	@import 'sceneStyles/sandbar';


// --------------------------------------------
// INDIVIDUAL PAGE STYLES
	/* typography
		.txtBold 
		.txtBold-blue
		.txtBold-blueDark
		.txtBold-blueLight
	*/

	// p01s1
	.img-hello {

	}

	.txt-boldBlueDark--try {
		font-weight: $bold;
		color: $blue-dark;
		font-size: 1.5em;
	}

	.txt-squish {
		line-height: 0.5;
		color: red;
	}

