.tut-contentBox  { // parent ele for tut content
	// needs to be a flex
	position: relative;
	margin: 0;
	padding: 0;
	height: $rowH * 5;
	width: 100%;
	//border: 1px solid yellow;
}

.sceneBox {
	position: absolute;
	top: 0;
	margin-left: 170px;
	width: 80%;
	height: 475px;
	z-index: 10;

	border: 1px solid yellow;
}


.swiper-slide {
	//border: 1px solid pink;
}


// SANDBAR -------------------------------------

	.sandbarBox {
		position: relative;
		height: $rowH * 2;
		width: $appW;
		top: $rowH * 4;
		display: flex;
		flex-direction: column;
		z-index: 1;
		background-image: url("../img/tutorial/sand.svg");
		background-size: auto 100%;
		border: 1px solid lime;
	}

	.sandbar-coinRow {
		position: relative;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		height: 100%;
		margin-left: $navW;
		width: $appW - $navW - $col-pad;
		z-index: 25;
		border: 1px solid orange;
	}

	.sandbar-coinBox {
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		padding: 0px 10px;
		height: 100%;

		z-index: 25;
		border: 1px solid white;
	}

	.sandbar-coinImgBox {
		height: 60px; //64%; //64%; //100%; //
		// height: $rowHalf; //		#hc need a var for nav icon size
		width: auto;
		border: 1px solid aqua;
	}

	.sandbar-coinImg {

	}

	.sandbar-coinTxt {
		margin-top: 5px;
	}

