<ion-view view-title="Tutorial" class="state-contentBox--wide">
	
	<div class="tut-contentBox"> <!-- <ion-content scroll="false"> n/a w/ <div> -->

	<!-- ==================================
	SAND BAR -->
	
		<div class="sandbarBox">	

			<list class="sandbar-coinRow">
			<item  ng-repeat="coin in coinData">
				<!-- ui-router adds class="activeCoin" only if the STATE matches the ui-sref (coin.sref) -->
				<!-- JUNK
					 ng-click="setActiveCoin({{coin.coinRef}})"
					 ng-class="{ 'activeCoin': state.current.url.includes($scope.activeCoin) }"

					-->
					<div class="sandbar-coinBox"
					ui-sref="{{'root.tutorial.' + coin.sref }}"
					ui-sref-active="activeCoin"
					>	

						<div class="sandbar-coinImgBox">
					          <img id="{{coin.id}}"	            
					            ng-src="{{coin.img}}"
					            ng-show="{{coin.id}}"
								style="width:{{coin.width}}; 
									height:{{coin.width}}; 
									top:{{coin.top}};
									position: relative;">
						</div>

						<div id="{{coin.coinRef}}"
						class="sandbar-coinTxt"
						ng-class="{activeCoin: activeCoin.{{coin.coinRef}} }">
							{{coin.txt}}
						</div>
					</div>
				</item>

			</list> <!-- end .coinRow   {{coin.coinRef ===   -->

		</div> <!-- end sandbarBox -->


	<!-- ==================================
	SCENE CONTENT -->
		<div class="sceneBox">
			<!--	
				for some reason, making this an <ion-view> does NOT work 
				Why? IDK https://ionicframework.com/docs/api/directive/ionView/
			-->
			<ui-view id="pageView" name="pageView">
			</ui-view>
		</div> <!-- end sceneBox -->
	
	</div> <!-- end tut-contentBox -->
</ion-view>


