// parent ele for all the profiles content
.profiles-contentBox {  
	//border: 1px solid violet;
	// this needs to be a flexbox
}

	.profiles
	{
		flex-flow: row nowrap;
	}

	.profiles__list
	{
		flex: 1 0 0%;
	}

	.profiles__info
	{
		flex: 1 0 0%;
	}