// ================================================
// LAYOUT
// ================================================
.profiles-layout_view-container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;
	//background-color: $c-bg; //#2018

	.profiles-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.profiles-layout_content-container {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		margin-top: $row-h * 1.5;
		margin-left: $navW;
		height: $row-h * 5;
		width: $col-w * 9;
		z-index: 10;
		// border: 1px solid cyan;
	}
}


// ================================================
// STATE STYLES
// ================================================
.logout {}

p.display-name {
	margin-bottom: 0px;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}

.flex-align-right {
	display: flex;
	flex-direction: row-reverse;
}

.profiles__recordings .item-radio {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

.profiles__recordings ion-item.selected {
	background-color: lightgray;
}

.profiles__recordings ion-item.activated {
	background-color: white;
}

// .item-radio.uploaded {
// 	border-left-style: solid;
// 	border-left-width: 5px;
// 	border-left-color: green;
// }

.item-radio.not_uploaded {
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: red;
}

.upload_badge.uploaded {
	color: green;
	font-weight: bold;
}

.upload_badge.not_uploaded {
	color: red;
	font-weight: bold;
}

.profiles button
{
	font-size: 12px;
	min-width: 100px;
}

.profiles h2
{
	font-size: 22px;
}

.profiles__recordings ion-scroll{
	height: 340px;
}

.profiles__list
{
	flex: 2 0 0%;
	margin-right: 10px;
}

.profiles__info
{
	flex: 3 0 0%;
	margin-right: 10px;
}

.profiles__recordings
{
	flex: 3 0 0%;
}

.profiles-flex
{
	flex-flow: column;
	display: flex;
	margin-top: 20px;
}

.button-row
{
	flex-flow: row nowrap;
	display: flex;
	margin-top: 20px;
	width: 100%;
}

.column-div
{
	flex: 1 0 0%;
}

.profiles-contentBox .radio-content .item-content
{
	padding-right: 0px;
	text-overflow: initial;
}

.profiles-contentBox .radio-content span
{
	margin-right: 64px;
}

.upload_badge
{
	color: #00bb00;
	font-weight: bold;
}
