// base layout
.profiles-contentBox {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;

	.profiles-ion-nav-bar {
		.bar-header { // styles <ion-header-bar>
		  background-color: $blue-light;
		  //height-min: 106px; //iOS cordova will overwrite this
		  height: $rowH !important; //iOS cordova will overwrite this if not !important
		  display: flex;
		  align-items: center; // vertical align, but doesn't work w/ iOS cordova
		  //justify-content: space-between;
		  box-shadow: $itemShadow;
		  padding-left: $navW;
		  //border: 1px solid red; //#db

		  .title { // // styles .title w/in <ion-header-bar>
		    position: relative;
		    display: block;
		    text-transform: uppercase;
		    color: $blue-main;
		    font-weight: bold;
		    font-size: $header-type;
		    line-height: 0; // this adjusts for weird iOS stuff
		    padding-top: 10px; // also adjusts for weird iOS styling
		    text-align: left;
		    overflow: visible;
		  } //end .title
		} // end .bar-header
	} // end profiles-ion-nav-bar

	.profiles-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.profiles-layout {
		margin-top: $rowH * 1.5;
		margin-left: $navW;
		height: $rowH * 5;
		width: $colW * 9;
		flex-flow: row nowrap;
		display: flex;
		z-index: 10;
		// border: 1px solid cyan;
	}
}

// ================================================
// STATE STYLES
// ================================================
.logout {

}

p.display-name {
	margin-bottom: 0px;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}

.flex-align-right{
	display: flex;
	flex-direction: row-reverse;
}

.profiles__recordings .item-radio {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

.profiles__recordings ion-item.selected {
	background-color: lightgray;
}

.profiles__recordings ion-item.activated {
	background-color: white;
}

// .item-radio.uploaded {
// 	border-left-style: solid;
// 	border-left-width: 5px;
// 	border-left-color: green;
// }

.item-radio.not_uploaded {
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: red;
}

.upload_badge.uploaded {
	color: green;
	font-weight: bold;
}

.upload_badge.not_uploaded {
	color: red;
	font-weight: bold;
}

.profiles button
{
	font-size: 12px;
	min-width: 100px;
}

.profiles h2
{
	font-size: 22px;
}

.profiles__recordings ion-scroll{
	height: 340px;
}

.profiles__list
{
	flex: 2 0 0%;
	margin-right: 10px;
}

.profiles__info
{
	flex: 3 0 0%;
	margin-right: 10px;
}

.profiles__recordings
{
	flex: 3 0 0%;
}

.profiles-flex
{
	flex-flow: column;
	display: flex;
	margin-top: 20px;
}

.button-row
{
	flex-flow: row nowrap;
	display: flex;
	margin-top: 20px;
	width: 100%;
}

.column-div
{
	flex: 1 0 0%;
}

.profiles-contentBox .radio-content .item-content
{
	padding-right: 0px;
	text-overflow: initial;
}

.profiles-contentBox .radio-content span
{
	margin-right: 64px;
}

.upload_badge
{
	color: #00bb00;
	font-weight: bold;
}
