<ion-view view-title="Profiles" class="state-contentBox" hide-nav-bar="false">

	<div class="profiles-layout_view-container">

		<ion-nav-bar class="ion-nav-bar"></ion-nav-bar>

		<div class="profiles-layout_absPos-container">
			<!-- full-width eles (bgs) and absPos eles go here -->
			<div class="profiles-layout_toolbar-container">
			</div>
		</div>

		<div class="profiles-layout_drawer-left"
		ng-include=" './states/root/profiles/drawer-template/profiles-drawer.html' ">

			<!-- PROFILES DRAWER (PARTICPANT LIST) IS INSERTED HERE -->
		
		</div> <!-- end .profiles-layout_drawer-left -->


		
		<div class="profiles-layout_content-container">
			
			<!-- if NO profiles, msg -->
			<!-- if NO currentUser, msg -->
			<!-- if currentUser, card -->

			<div class="profiles-card"
			ng-hide="!data.currentProfile">

				<div class="card-head">

					<div class="card-headBox">
						<h1>{{data.currentProfile.name}}</h1>
					</div>

					<div class="card-navBox">

						<div ng-click="setCardState('profile')"
							class="pro_navitem"
							ng-class="{'pro_navitem--active': cardState === 'profile' }">
							profile
						</div>

						<div ng-click="setCardState('recordings')"
							class="pro_navitem" 
							ng-class="{'pro_navitem--active': cardState === 'recordings' }">
							recordings
						</div>

						<div ng-click="setCardState('progress')"
							class="pro_navitem" 
							ng-class="{'pro_navitem--active': cardState === 'progress' }">
							progress
						</div>


						<div ng-click="setCardState('settings')"
							class="pro_navitem"
							ng-class="{'pro_navitem--active': cardState === 'settings' }">
							settings
						</div>

					</div>

				</div> <!-- card-head -->


				<!-- CARD BODY STARTS HERE --> 
				<div class="card-switchParent" ng-switch on="cardState">

					<div class="card-switchBox" ng-switch-when="recordings" >
						<div ng-include=" './states/root/profiles/card-templates/card-recordings.html'"></div>
					</div>	<!-- END Recordings card-switchBox -->

					<div class="card-switchBox" ng-switch-when="progress">
						<div ng-include=" './states/root/profiles/card-templates/card-progress.html'"></div>
					</div> <!-- END Progress card-switchBox -->

					<div class="card-switchBox" ng-switch-when="profile">
						<div ng-include=" './states/root/profiles/card-templates/card-profile.html'"></div>
					</div> <!-- END Progress card-switchBox -->

					<div class="card-switchBox" ng-switch-when="settings">
						<div ng-include=" './states/root/profiles/card-templates/card-settings.html'"></div>
					</div> <!-- END Progress card-switchBox -->

				</div> <!-- card-switchParent -->

			</div> <!-- profiles-card -->

		</div>
		<!-- end .profiles-layout_content-container -->

	</div> 
	<!-- end profiles-contentBox-->

</ion-view>
