<ion-view view-title="Profiles" class="state-contentBox" hide-nav-bar="false">

	<div class="profiles-layout_view-container">
		<ion-nav-bar class="ion-nav-bar"></ion-nav-bar>
		<!-- <ion-nav-bar class="ion-nav-bar--old"></ion-nav-bar> -->

		<div class="profiles-layout_bg-container">
			<!-- full-width eles go here -->
		</div>

		<div class="profiles-layout_drawer-left">

			<div class="profiles_list-head">
				<!-- <div class="header-img"></div>
				<div class="closeBox"></div> -->
				<div class="head-content">
					<div class="title">
						<p> Registered Participants </p>
					</div>
					<div class="searchBar">Search</div>
				</div>
			</div>

			<div class="profiles_list-body">
				<!--  See if this should be an ion-pane for the scrolling feature. -->
				<ion-list class="list">
						<ion-radio
							name="name"
							ng-model="data.currentProfileUUID"
							ng-repeat="profile in data.profiles track by profile.uuid"
							ng-value="profile.uuid"
							ng-change="updateCurrentProfile(profile)">
								{{ (profile.name === undefined) ? 'New Profile' : profile.name }}
						</ion-radio>
					</ion-list> <!-- </ion-list> -->
			</div> <!-- .profiles_list-body -->

			<div class="profiles_list-foot">
				register new
				<div class="">
					<div class="">
						<div class="">
							<button
								class="button button-calm column-div"
								ng-click="createProfile()"
								ng-disabled="isEditing"
								ng-hide="isEditing">
								<i class="icon ion-person-add"></i>
								New
							</button>
						</div>
						<div class="">
							<button
								class="button button-stable column-div"
								ng-click="deleteAllProfiles()"
								ng-disabled="isEditing"
								ng-hide="isEditing || !data.currentProfile">
								<i class="icon ion-trash-b"></i>
								Delete All
							</button>
						</div>
					</div>
			</div> <!-- profiles_list-foot -->

		</div>
		<!-- end .profiles-layout_drawer-left -->


			<!-- content goes here -->
			<div class="profiles-layout_content-container">

				<div class="profiles-card">

					<div class="card-head">

						<div class="card-headBox">
							<h1>{{data.currentProfile.name}}</h1>
						</div>

						<div class="card-navBox">
							<div class="pro_navitem"
							ng-click="setCardState('recordings')">
								recordings
							</div>
							<div class="pro_navitem"
							ng-click="setCardState('progress')">
								progress
							</div>
							<div class="pro_navitem"
							ng-click="setCardState('profile')">
								profile
							</div>
							<div class="pro_navitem"
							ng-click="setCardState('settings')">
								settings
							</div>

						</div>

					</div> <!-- card-head -->

					<div class="card-body">
						<h1>{{cardState}}</h1>
					</div> <!-- card-body -->

					<div class="card-foot">
					</div> <!-- card-foot -->

				</div>
		</div>
		<!-- end .profiles-layout_content-container -->

	</div> <!-- end profiles-contentBox-->

</ion-view>
