// parent ele for all the quest content
.quest-contentBox {
	//border: 1px solid violet;
	display: flex;
	height: 95%;
	flex-direction: column;
	justify-content: space-around;
}

.words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
}

.word-quest-wave-visible {
	display: flex;
	width: 100%;
	justify-content: center;
}

.word-quest-wave-visible > .item {
	display: flex;
	width: 100%;
	justify-content: center;
}

.word-quest-wave-visible .label {
	padding: 0px;
}

.word-quest-wave-visible .input-label {
	font-size: 30px;
}

.words-word {
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

.quest-contentBox button[disabled] {
	background-color: lightgray;
	color: gray;
}

.quest-header {
	width: 100%;
	flex: 1 0 auto;
}

.quest-header h2 {
	text-align: center;
	width: 55%;
	margin: auto;
}

.quest-header p {
	text-align: center;
	width: 55%;
	margin: auto;
}

.quest-description-row {
	width: 100%;
	flex: 1 0 auto;
	display: flex;
	justify-content: space-around;
}

.quest-description {
	width: 30%;
}

.quest-button-class {
	flex: 1 0;
	display: flex;
	justify-content: center;
}

.quest-button-class button[selected] {
	background-color: green;
	color: white;
}

.quest-buttons {
	display: flex;
	flex: 1 0 auto;
}