// ================================================
// LAYOUT
// ================================================

.quest-layout_view-container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;

	.quest-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.img-bg_qtBF--BG {
			background-color: $c-bg;
			background-image: url("../img/bgImg/bg_quest-BF--background.svg");
			z-index: 1;
		}
		.img-bg_qtNoBF {
			background-color: $c-bg;
			background-image: url("../img/bgImg/bg_quest-NoBF.svg");
			z-index: 1;
		}
		.img-bg_qtBF--MG {
			background-image: url("../img/bgImg/bg_quest-BF--midground.svg");
			z-index: 3;
		}
		.img-bg_qtBF--FG {
			background-image: url("../img/bgImg/bg_quest-BF--foreground.svg");
			z-index: 5;
		}
	}

	.quest-layout_content-container {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		padding-top: $row-h;
		padding-left: $col-w;
		height: 100%;
		width: 100%;
		justify-content: space-around;
		z-index: 10;
		// border: 1px solid cyan;
	}
}


// ================================================
// STATE STYLES
// ================================================
.quest-button-class {
	display: flex;
	justify-content: center;
}

.quest-button-class button[selected] {
	background-color: green;
	color: white;
}

.quest-buttons {
	display: flex;
  flex: 1 0 auto;
  padding-left: 10vh;
  padding-right: 10vh;
}

.back-button {
	background: #d3d3d3;
  color: #808080;
  position: absolute;
  top: $row-h;
	left: $col-w * 11;
  padding: 10px;
	z-index: 100000;
}

.quest-contentBox button[disabled] {
	background-color: lightgray;
	color: gray;
}


// MENU PAGE ---------------------------------------------
// Styles used ONLY in Quest Menu Page (!praciting && !configuring)
.quest-menu-page {}

.quest-menu-row {
	position: relative;
	display: flex;
	width: 100%;
	min-height: $row-h;
	padding-top: $row-h * 0.5;
	padding-left:  $col-w;
	padding-right:  $col-w;
	//border: 1px solid pink;
}

.quest-header-row {
	flex-flow: column nowrap;
	text-align: center;

	h2 { margin-bottom: 1em; }

	p {}
}

.quest-description-row {
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
	padding-bottom: $row-h * 0.75;

	.quest-description {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		width: 30%;

		p {
			min-height: $row-h * 0.75;
		}

		.btn-row {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: flex-start;
			margin: 0;
			padding: 0;
		}
	}
}


// CONFIG PAGE ---------------------------------------------
// Styles used ONLY in Quest Config (!praciting && configuring)

.quest-config-page {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding: 0 $col-w;
}

.quest-config-row {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	// border: 1px solid pink;
}

.r-category-container {
	height: $row-h * 1.5;
}

.word-quest-wave-visible {
	display: flex;
	width: 100%;
	justify-content: center;
	// border: 1px solid pink;
}

.word-quest-wave-visible > .item {
	display: flex;
	width: 100%;
	justify-content: center;
}

.word-quest-wave-visible .label {
	padding: 0px;
}

.word-quest-wave-visible .input-label {
	font-size: 30px;
}



// QUEST ---------------------------------------------
// The ui for the Quests (praciting && !configuring) are handled by the practice-directive & lpc-directive

.quest-practice-page {}

.words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
}

.words-word {
  font-size: 3.5em;
	line-height: 1em;
	display: inline-block;
  vertical-align: middle;
  color: #3D6D84;
}
