<div class="layout_head-body">

	<div class="profiles_list-head">
		<div class="header-img"></div>

		<div class="closeBtn-row">
			<!-- <div class="closeBtn">X</div> -->
		</div>

		<div class="title-row">
			<div class="title">REGISTERED PARTICIPANTS</div>
		</div>

		<div class="seachBar-row">
			<div class="banner-bg">
				<div class="banner-hl"></div>
			</div>
			<div class="searchBar">
				<label class="searchBar-label">
					<i class="icon ion-search "></i>
					<input class="nameSearch" ng-model="nameSearch" type="text" placeholder="Search">
				</label>
			</div> <!-- end searchBar -->
		</div> <!-- end searchBar-row -->

	</div> <!-- end profiles_list-head -->

	<!-- ===================================== -->

	<div class="profiles_list-body">
		<ion-scroll direction="y">
			<ion-list class="list">
				<ion-radio
					name="name"
					ng-model="data.currentProfileUUID"
					ng-repeat="profile in data.profiles | filter:nameSearch track by profile.uuid"
					ng-value="profile.uuid"
					ng-change="updateCurrentProfile(profile)">
						<div class="name-item">
						<!-- <div class="initials">WW</div> -->
							<div class="name-text">
								{{profile.name}}
							</div>
							<div class="testerIcon"
							ng-if="profile.formalTester">
							</div>
						</div>
				</ion-radio>
			</ion-list> <!-- </ion-list> -->
		</ion-scroll>
	</div> <!-- .profiles_list-body -->

</div> <!-- layout_head-body -->


<!-- ===================================== -->

<div class="layout_foot profiles_list-foot">

	<div class="userInfo-container">

		<div class="footRow testerNote-row">
			<div class="testerNote">
				formal testers denoted by
				<span class="testerIcon"></span>
			</div>
		</div>

		<div class="footRow newUserBtn-row">
			<div class="newUserBtn"
			ng-click="createProfile()"
			ng-disabled="isEditing"
			ng-hide="isEditing">
				Add New Particpant
			</div>
		</div>

	</div>

	<div class="slpInfo-container">

		<div class="footRow slpNameLabel-row">
			<div class="banner-hl"></div>
			<div class="slpNameLabel">Clinician: {{displayName}}</div>
		</div>

		<div class="footRow slpBtn-row">
			<button class="profiles-list-btn"
				ng-click="deleteAllProfiles()" 
				ng-disabled="isEditing"
				ng-hide="isEditing || !data.currentProfile">
				<div>Delete All <br/>Particpants</div>
				<i class="icon ion-trash-b"></i>
			</button>

			<button class="profiles-list-btn"
				ng-click="logOut()"
				ng-disabled="isEditing">
				<div>Clinician <br/>Logout</div>
				<i class="ion-log-in"></i>
			</button>
		</div>

	</div> <!-- .slpNameInfo-row -->

</div> <!-- profiles_list-foot -->