<div class="p-drawer_layout_head-body">

	<div class="p-drawer_list-head">
		<div class="header-img"></div>

		<div class="closeBtn-row">
			<!-- <div class="closeBtn">X</div> -->
		</div>

		<div class="title-row">
			<div class="title">REGISTERED PARTICIPANTS</div>
		</div>

		<div class="seachBar-row">
			<div class="searchBar">
				<label class="searchBar-label">
					<input class="nameSearch" ng-model="nameSearch" type="text" placeholder="Search">
				</label>
				<!--
				<i class="icon ion-search"></i>
				<i class="icon ion-close "></i>
				-->
			</div>
			<!-- end searchBar -->
		</div> <!-- end searchBar-row -->

	</div> <!-- end profiles_list-head -->

	<!-- ===================================== -->

<!--
<ion-item>
	<ion-label>Cord</ion-label>
	<ion-radio value="cord"></ion-radio>
</ion-item>

<form ng-controller="ExampleController">
	<h2>Which is your favorite?</h2>
		<label ng-repeat="name in names" for="{{name}}">
			{{name}}
			<input type="radio"
						 ng-model="my.favorite"
						 ng-value="name"
						 id="{{name}}"
						 name="favorite">
		</label>
	<div>You chose {{my.favorite}}</div>
</form>

		<ion-nav-bar class="{{ (practicing) ? 'ion-nav-bar' : 'ion-nav-bar--old' }}">
-->

	<div class="profiles_list-body">
		<ion-scroll direction="y">
			<ion-list class="list">

				<ion-radio
					name="name"
					ng-model="data.currentProfileUUID"
					ng-repeat="profile in data.profiles | filter:nameSearch track by profile.uuid"
					ng-value="profile.uuid"
					ng-change="updateCurrentProfile(profile)"
					ng-disabled="isEditing"
					icon="none">

						<div class="profiles-drawer-item">

							<!-- class="r-item-content" -->
							<div ng-class="(profile.uuid === data.currentProfileUUID) ? 'r-item-content r-item-selected' : 'r-item-content' ">

								<div class="r-item-roundEnd"></div>

								<div class="r-item-nameRow">
									<!-- <div class="drawer-initials">WW</div> -->

									<div class="name-text">
										{{profile.name}}
									</div>


									<div class="r-item-iconBox">
										<!--  ng-if="profile.formalTester" -->
										<div class="testerIcon"
										></div>
									</div>

								</div>
							</div>

							<!-- <div ></div> -->

						</div> <!-- .profiles-drawer-item -->
				</ion-radio>
			</ion-list>
		</ion-scroll>
	</div> <!-- .profiles_list-body -->

</div> <!-- layout_head-body -->


<!-- ===================================== -->
<!--  ng-hide="isEditing" -->
<div class="p-drawer_layout_foot">

	<div class="footRow c-whiteBlue_400">
		<button class="footBtn"
		ng-click="createProfile()"
		ng-disabled="isEditing">
			<span class="btnTitle">Add New Particpant</span>
			<i class="icon ion-ios-personadd-outline"></i>
			<!-- <i class="icon ion-ios-plus-outline"></i> -->
		</button>
	</div>

	<div class="footRow c-whiteBlue_500">
		<button class="footBtn"
		ng-click="openSlpView()"
		ng-disabled="isEditing">
			<span class="btnTitle">Clinician's Card</span>
			<!-- <i class="icon ion-ios-briefcase-outline"></i> -->
			<i class="icon ion-ios-people-outline"></i>
		</button>
	</div>

</div> <!-- p-drawer_layout_foot -->
