@mixin r-icoSizer($size) {
  position: relative;
  display: inline-block;
  height: $size;
  width: $size;
  //margin: 0 $size/8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.r-ico56 { @include r-icoSizer(56px) }
.r-ico48 { @include r-icoSizer(48px) }
.r-ico40 { @include r-icoSizer(40px) }
.r-ico32 { @include r-icoSizer(32px) }
.r-ico24 { @include r-icoSizer(24px) }
.r-ico16 { @include r-icoSizer(16px) }


.r-ico-starfish {
  background-image: url('../img/profiles/ico_star-line.svg');
}
