button
{
	font-weight: bold;
}

// Slider

.range
{
	padding: 1em;
}

input[type=range] {
	-webkit-appearance: none;
	height: 25px;
	border-radius: 25px;
	background-color: #C5F3FF;
	box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);
	width: 560px;
	margin: 23px;
	border: 0px solid orange;
	overflow: visible;
	background-size: 0;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	margin-top: 0px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #53C8E9;
	margin-right: 50px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	border: 0px solid green;
}

.item
{
	border-color: transparent;
}
