/*  PALETTE  ============================================== */

// 2018 COLORS -------------------------------

//text
$c-text-main: rgba(61,109,132,1); //#3D6D84; navy blue
$c-text-subtle: #7ab5b8;

// eles
$c-bg: #c2f2f2; //sky blue

$c-gold-400: #ffd576;
$c-gold-500: #ffc95f; // main gold

$c-silver-400: #fff;
$c-silver-500: #f0f9fc; // main silver

$c-bronze-400: #f7c8a1;
$c-bronze-500: #efbd88; // main bronze

// profiles
$c-lightBlue: #ace2e5;




// OLD COLORS -------------------------------
	$blue-main: #53c8e9;		// primary-c
	$yellow-main: #FFC95F;		// secondary-c or accent-c
	$grey-txtMain: #4d4d4d;  		// text-c

	$blue-light: #c5f3ff;		// sky blue
	$blue-white: #F0F9FC;		// very pale blue. used primarily for container backgrounds
	$blue-dark: #018B9D;		// dark blue. use: peak lines?

	$yellow-light: #FFECCB;		// sand-light
	//$brown:;					// sand-dark

	$white: #ffffff;			// white


/* MISC STYLES ================================================= */

	/* Type --------------------- */
	$bold: 700;
	$header-type: 50px;

	/* Borders --------------------- */
	$roundBorder: 4px;
	$itemShadow: 1px 1px 1px rgba(0,0,0,0.15); // box-shadow:
	$itemShadow-select: 1px 1px 2px rgba(0,0,0,0.25);
	$itemInset: inset 2px 0px 2px rgba(77, 77, 77, 0.25); //box-shadow:
