<div class="card-content">

	<div class="card-body card-body-slp">

		<div class="card-body-row">
			<button class="button iconBtn slp-iconBtn"
				ng-click="deleteAllProfiles()"
				ng-hide="data.profiles.length === 0">

				<div class="s-ico32 l-ico-cTextMain"
				  ng-include=" './img/icons/line/delete.svg' " >
				</div>

			</button>

			<div class="slpCard-desc">
				<h3>Delete All Particpants</h3>
				<p>Deletes records of all participants registered to your Clinician account.</p>
			</div>
		</div>

		<!--
		<div class="card-body-row">
			<button class="button iconBtn slp-iconBtn">
				<div class="s-ico32 l-ico-cTextMain"
				  ng-include=" './img/icons/line/back.svg' " >
				</div>
			</button>

			<div class="slpCard-desc disabled-font">
				<h3 class="disabled-font">Template: Title of Batch Fx</h3>
				<p class="disabled-font">TBD: Batch functions allow you to perform an action on multiple records simultaneously.</p>
			</div>
		</div>
		-->

		<!-- <div class="card-body-row">
			<button class="button iconBtn slp-iconBtn">
				<div class="s-ico32 l-ico-cTextMain"
					ng-include=" './img/icons/line/lifesaver.svg' " >
				</div>
			</button>

			<div class="slpCard-desc">
				<h3 class="disabled-font">Template: Title of Batch Fx</h3>
				<p class="disabled-font">TBD: Batch functions allow you to perform an action on multiple records simultaneously.</p>
			</div>
		</div> -->


		<div class="card-body-row">
			<button class="button iconBtn slp-iconBtn"
				ng-click="logOut()">
				<div class="s-ico32 l-ico-cTextMain"
					ng-include=" './img/icons/line/logout-rect.svg' " >
				</div>
			</button>

			<div class="slpCard-desc">
				<h3 class="">Clinician Logout</h3>
				<p class="">Your participant records are saved, but they are only accessible when you are logged in.</p>
			</div>
		</div>

	</div> <!-- end .card-body -->


	<!-- <div class="card-foot slpCard-foot">
	</div> -->
	<!-- card-foot -->

</div>
