// parent ele for all the resources content
.resources-contentBox {
	//border: 1px solid violet;
}

.resources-links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.resources-links-container .button {
	width: 120px;
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}

.resources-links-container .adjust-profile {
	position: absolute;
	right: 0px;
	height: 60px;
}

.resources-links-container .questionnaire {
	font-size: 12px;
}

.resources-links-container h3 {
	width: 100%;
	margin-bottom: 0px;
	font-weight: bold;
	color: $blue-main;
}

.resources-links-container h4 {
	width: 100%;
}

.resources-links-row {
	display: flex;
	width: 80%;
	justify-content: center;
}

.range-container
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
}

.range-label
{
	line-height: 100%;
	font-weight: bold;
	width: 40px;
	white-space: pre-line;
	padding: 1em 0;
	font-size: 0.9rem;

	&:first-child
	{
		padding-left: 0;
	}
}

.resources strong
{
	display: block;
	color: $blue-main;
}

.resources p
{
	margin: 0;
}

.version-display
{
  position: absolute;
}
