// base layout
.resources-contentBox {
	position: relative;
  display: flex;
	width: 100vw;
	height: 100vh;
	//background-color: $c-bg;

	.resources-ion-nav-bar--old {
		.bar-header { // styles <ion-header-bar>
		  background-color: $blue-light;
		  height: $row-h !important;
		  display: flex;
		  align-items: center;
		  box-shadow: $itemShadow;
		  padding-left: $navW;

		  .title { // // styles .title w/in <ion-header-bar>
		    position: relative;
		    display: block;
		    text-transform: uppercase;
		    color: $blue-main;
		    font-weight: bold;
		    font-size: $header-type;
		    line-height: 0; // this adjusts for weird iOS stuff
		    padding-top: 10px;
		    text-align: left;
		    overflow: visible;
		  } //end .title
		} // end .bar-header
	} // end resources-ion-nav-bar--OLD

	.resources-ion-nav-bar { // new styles goes here
		.bar { //ionic style
			background-image: none !important;
		}

		.bar-header { //ionic style for <ion-header-bar>
			background-color: transparent;
			height: $row-h !important;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			padding-left: $navW;
			padding-right: $col-w;

			.title { //ionic style for .title w/in <ion-header-bar>
				position: relative;
				display: block;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 1.75em;
				color: $c-text-subtle;
			} //end .title
		} // end .bar-header
	} // end profiles-ion-nav-bar


	.resources-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.resources-layout {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		margin-top: $row-h * 1.5;
		// margin-left: $col-w * 1;
		margin-left: $navW;
		height: $row-h * 4;
		width: $col-w * 9;
    justify-content: space-between;
    align-items: center;
		z-index: 10;
		// border: 1px solid cyan;
	}
}

// ================================================
// STATE STYLES
// ================================================

.resources-links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.resources-links-container .button {
	width: 120px;
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 20px;
}

.resources-links-container .adjust-profile {
	position: absolute;
	right: 0px;
	height: 60px;
}

.resources-links-container .questionnaire {
	font-size: 12px;
}

.resources-links-container h3 {
	width: 100%;
	margin-bottom: 0px;
	font-weight: bold;
	color: $blue-main;
}

.resources-links-container h4 {
	width: 100%;
}

.resources-links-row {
	display: flex;
	width: 80%;
	justify-content: center;
}

.range-container
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
}

.range-label
{
	line-height: 100%;
	font-weight: bold;
	width: 40px;
	white-space: pre-line;
	padding: 1em 0;
	font-size: 0.9rem;

	&:first-child
	{
		padding-left: 0;
	}
}

.resources strong
{
	display: block;
	color: $blue-main;
}

.resources p
{
	margin: 0;
}

.version-display {
  position: absolute;
	margin-left: $col-w * 9;
	margin-top: 1em;
	z-index: 10;
}
