<ion-view view-title="SLP Resources" class="state-contentBox">

	<div class="resources-layout_view-container">

		<ion-nav-bar class="ion-nav-bar">
			<ion-nav-title>{{data.navTitle}}</ion-nav-title>
		</ion-nav-bar>


		<!-- full-width & abs pos eles go here -->
		<div class="resources-layout_bg-container">
			<div ng-if="!data.configuring" class="res-temp-img-pos">
				<div class="img-bg img-bg_res"></div>
			</div>

			<div class="version-display">
				<p><span class="res-important">staRt app version {{data.version}}</span>
					<br/>
					platform: {{data.platform}}
				</p>
			</div>

		</div> <!-- end _bg-container -->


		<!-- ===================================== -->
		<!-- page content goes here -->

		<div class="resources-layout_content-container">

			<!-- //////// Resourses Main Page //////// -->
			<div class="res-page-index">

				<div class="res-sect">
					<div class="head">
						<div class="resTitle">DOWNLOADS</div>
						<div class="resDesc">download .pdf resources to your device</div>
					</div>
					<div class="body">
						<a href="https://www.dropbox.com/sh/tvfk9x70crtytum/AAAW0ahKRhkBQ3aW_2744XCaa" class="btn">
							staRt User Manual
						</a>
					</div>
				</div>

				<div class="res-sect">
					<div class="head">
						<div class="resTitle">LINKS</div>
						<div class="resDesc">opens in your device's browser</div>
					</div>
					<div class="body">
						<a href="https://www.youtube.com/watch?v=kGFdED4HDcw" class="btn">
							staRt Demo Video
						</a>
						<a href="https://wp.nyu.edu/byunlab/projects/start/participate/" class="btn">
							Become a Pilot Tester
						</a>
					</div>
				</div>

				<div class="res-sect">
				<!--
					<div class="head">
						<div class="resTitle">SETTINGS</div>
						<div class="resDesc">adjust wave settings for the active user's profile</div>
					</div>
					<div class="body">
						<div class="btn" ng-click="configureLPC()">
							Adjust LPC Filter Order
						</div>
					</div>
					-->
				</div>

			</div> <!-- end res-index-page -->


			<!-- //////// Adjust Filter Order Page //////// -->
			<!--
			<div class="resources text-and-lpc__text" ng-if="data.configuring">

				<div class="back-btn" ng-click="data.configuring = false">Back</div>

				<p>
					Use the slider to manually adjust the LPC filter order.
					<strong>In general, the filter order should be between 35 and 45.</strong>
				</p>

				<div class="range-container">
					<div class="range-label">
						min. 25
					</div>

					<input type="range" min="25" max="45" ng-model="data.lpcOrder" ng-change="updatePluginLPCOrder()" />

					<div class="range-label">
						max. 45
					</div>

					<button name="reset" ng-click="resetPluginLPCOrder()" class="reset-button big-button">Reset</button>
				</div>

				<p>
					The filter order is now <em>{{data.lpcOrder}}</em>
				</p>

				<div ng-if="data.configuring" class="res-lpcBox">
					<lpc-directive
						sand="false"
						slider="false"
						transparent="transparent">
					</lpc-directive>
				</div>

			</div>
			-->

		</div> <!-- end resources-layout_content-container-->
	</div> <!-- end resources-layout_view-container-->
</ion-view>
