// LAYOUT ================================================
.card-content { // height: $row-h * 3.5;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: $row-h * 3.5;
	width: 100%;
	text-align: left;
	color: $c-text-main;
	//border: 1px solid blue;

	.card-body { // height: $row-h * 3;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		height: $row-h * 3;
		width: 100%;
		padding: 2em 2.5em;
		padding-bottom: 0;
		color: $c-text-main;
		//border: 1px solid red;

		h3 {
			font-size: 1em;
			color: $c-text-main;
		}
	} // .card-body


	.card-foot { // height: $row-h * 0.5;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 100%;
		height: $row-h * 0.5;
		//border-top: 1px solid pink;
	} // .card-foot

} //.card-content


// SHARED UI ELEMENTS  =================================
// btn w/ a big icon, no text
.iconBtn { // overwrites defaults
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #edf4f3; //#e7f2f1; //#edf9f8;
	border: none;
	border-radius: 10px;

	i.r-icon {
		color: $c-text-main;
		height: 100%;
		width: 100%;
		//border: 1px solid lightblue;
	}
}

i.r-icon-big {
		height: 100%;
		width: auto;
		font-size: 2.5em !important;
}


// INDIVIDUAL CARD STYLES ==========================
@import 'profile/card-profile';
@import 'recordings/card-recordings';
@import 'progress/card-progress';
@import 'settings/card-settings';
@import 'slp/card-slp';
