// LAYOUT ================================================
.card-content { // height: $row-h * 3.5;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: $row-h * 3.5;
	width: 100%;
	text-align: left;
	color: $c-text-main;
	//border: 1px solid blue;

	.card-body { // height: $row-h * 3;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		height: $row-h * 3;
		width: 100%;
		padding: 2em 2.5em;
		color: $c-text-main;
		//border: 1px solid pink;

		h3 {
			font-size: 1em;
			color: $c-text-main;
		}

	}
	.card-foot { // height: $row-h * 0.5;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 100%;
		height: $row-h * 0.5;
		//border-top: 1px solid pink;
	} // .card-foot


	ion-radio {
		border: 1px solid red;
	}

} //.card-content


// SHARED UI ELEMENTS  =================================


// INDIVIDUAL CARD STYLES ==========================
@import 'profile/card-profile';
@import 'recordings/card-recordings';
@import 'progress/card-progress';
@import 'settings/card-settings';
@import 'slp/card-slp';
