<div class="card-content">

	<div class="card-body">
		<h3>PROFILE</h3>

		<div class="profiles__info" ng-hide="!data.currentProfile">

			<label class="item item-input">
				<span class="input-label">Name</span>
				<input
					type="text"
					name="name"
					class="profiles"
					ng-model="data.currentProfile.name"
					placeholder="Name"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>
			<label class="item item-input">
				<span class="input-label">
					Age
				</span>
				<input
					type="number"
					name="age"
					class="profiles"
					min="1"
					max="99"
					ng-model="data.currentProfile.age"
					placeholder="Age"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>
			<label class="item item-input">
				<span class="input-label">
					Height (Feet)
				</span>
				<input
					type="number"
					name="heightFeet"
					class="profiles"
					min="0"
					max="8"
					ng-model="data.currentProfile.heightFeet"
					placeholder="Feet"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>
			<label class="item item-input">
				<span class="input-label">
					Inches
				</span>
				<input
					type="number"
					name="heightInches"
					class="profiles"
					min="0"
					max="11"
					ng-model="data.currentProfile.heightInches"
					placeholder="Inches"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>

			<label class="input item-input">
				<div class="sexBtn-row">
					<span>Sex</span>			
					<ion-radio
						class="sexBtn"
						name="sex"
						ng-model="data.currentProfile.gender"
						ng-value="'Female'"
						ng-class="editing"
						ng-disabled="!isEditing">
						Female
					</ion-radio>
					<!-- ng-class="editing" -->
					<ion-radio
						class="sexBtn"
						name="sex"
						ng-model="data.currentProfile.gender"
						ng-value="'Male'"
						ng-class="editing"
						ng-disabled="!isEditing">
						Male
					</ion-radio>
				</div>
			</label>
		</div>

	</div> <!-- card-body -->


	<div class="card-foot">
		<div class="">
			<button
				type="button"
				class="button button-royal column-div"
				ng-click="optInFormalTesting()"
				ng-hide="isEditing || !data.currentProfile || data.currentProfile.formalTester"
				ng-disabled="!data.currentProfile">
				Formal Testing
			</button>
			<button
				type="button"
				class="button button-royal column-div"
				ng-click="startSession()"
				ng-hide="isEditing || !data.currentProfile || !data.currentProfile.formalTester || data.sessionIsActive || data.currentProfile.nFormalTreatmentComplete"
				ng-disabled="!data.currentProfile">
				Start Session
			</button>
			<button
				type="button"
				class="button button-royal column-div"
				ng-click="stopSession()"
				ng-hide="isEditing || !data.currentProfile || !data.currentProfile.formalTester || !data.sessionIsActive || data.currentProfile.nFormalTreatmentComplete"
				ng-disabled="!data.currentProfile">
				Stop Session
				</button>
				<button
				type="button"
				class="button button-royal column-div"
				ng-hide="!data.currentProfile.nFormalTreatmentComplete"
				ng-disabled="true">
				Formal Testing Completed
			</button>
			<button
				type="button"
				class="button button-balanced column-div"
				ng-click="setIsEditing(true)"
				ng-hide="isEditing"
				ng-disabled="!data.currentProfile"
				ng-hide="!data.currentProfile">
				<i class="icon ion-edit"></i>
				Edit
			</button>
			<button
				type="button"
				class="button button-positive column-div"
				ng-click="saveProfile()"
				ng-hide="!isEditing">
				Save
			</button>
			<button
				type="button"
				class="button button-calm column-div"
				ng-click="cancelEdit()"
				ng-hide="!isEditing">
				Cancel
			</button>
			<button
				type="button"
				class="button button-assertive column-div"
				ng-click="deleteProfile(data.currentProfile)"
				ng-show="!isEditing"
				ng-disabled="!data.currentProfile">
				<i class="icon ion-trash-b"></i>
				Discard
			</button>

		</div>
	</div> <!-- card-foot -->

</div>