#app-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
}

#nav-and-content-container
{
  display: flex;
  flex-flow: row nowrap;
}

#nav-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 10vw;
  z-index: 999;
}

#content-container {
  text-align: center;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  width: 90vw;

}

#lpc-container {
  display: -webkit-flex;
  -webkit-flex: 1;
}

#lpc-canvas {
  width: 300px;
  height: 200px;
  margin: auto;
}

canvas {
  background-color: #000000;
}

.text-and-lpc {
  display: -webkit-flex;
  -webkit-flex: 1;
  font-size: 1rem;
  padding-top: 4rem;
}

.pane
{
  flex-flow: column;
}

.nav-container
{
  z-index: 99;
}

.navTabs {
  height: 100vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}

.navTab {
  background-color: $blue;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex: 1;
  border-radius: 4px;
  box-shadow: 1px 0px 2px #d3d3d3;

}

.navTabText {
  margin: auto;
}

.bigtext {
  font-size: 55pt;
}

.testbutton {
  background-color: lightblue;
}

.testbutton:active {
  background-color: darkblue;
}
