* {
   margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Quicksand', 'Helvetica Neue', sans-serif !important;
  -webkit-user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

  .big-button {
    height: 65px;
    background-color: #FFECCB;
    color: #e79b4c;
    border: 0px solid red;
    position: relative;
    height: 65px;
    width: 80px;
    margin: 20px;
    padding: 5px;
    font-size: 0.90em;
    font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 99;
    border: 0;
    display: block;
  }

// =================================================================
// ROOT TEMPLATE & GRID VARS
// =================================================================
$row-h: 100vh/6;
$col-w: 100vw/12;

$nav-btnW: 10vw; // width of left nav, OLD nav
$col-pad: 6.66vw; // OLD nav
$navW: $nav-btnW + $col-pad; // OLD nav


// LAYOUT ==========================================

//parent <ion-nav-view> in index.html
#app-container {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  line-height: 1.7;
  height: 100vh;
  width: 100vw;
  color: $grey-txtMain;
}

//parent <ion-view> in root_template
#nav-and-content-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: row nowrap;
}

// ion-nav-bar -------------------------------------
.root-ion-nav-bar { display: none; }

.ion-nav-bar--old {
  .bar-header { // styles <ion-header-bar>
    background-color: $blue-light;
    height: $row-h !important;
    display: flex;
    align-items: center;
    box-shadow: $itemShadow;
    padding-left: $navW;
     .title { // // styles .title w/in <ion-header-bar>
      position: relative;
      display: block;
      text-transform: uppercase;
      color: $blue-main;
      font-weight: bold;
      font-size: $header-type;
      line-height: 0; // this adjusts for weird iOS stuff
      padding-top: 10px;
      text-align: left;
      overflow: visible;
    } //end .title
  } // end .bar-header
} // end ion-nav-bar--OLD

.ion-nav-bar { // new styles are here
  .bar { //ionic style
    background-image: none !important;
    border: none;
  }
   .bar-header { //ionic style for <ion-header-bar>
    background-color: transparent;
    height: $row-h !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-left: $navW;
    padding-right: $col-w;
     .title { //ionic style for .title w/in <ion-header-bar>
      position: relative;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.75em;
      color: $c-text-subtle;
    } //end .title
  } // end .bar-header
} // end ion-nav-bar

// <ion-nav-view> in root_template
// this is the ROUTER CONTROLLED content container
// it is the immediate parent of each state_template <ion-view> (class="state-contentBox")
#content-container {
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  width: 100%;
}


// NAV CONTAINER -------------------------------------
// All of the nav icon animations live in  'common-styles/_keyframeAni.scss'

#nav-container {
  position: absolute;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: $nav-btnW; //10vw
  height: 100vh;
  z-index: 999;
}

.nav-container { z-index: 99; }

.navTabs {
  height: 100vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
}

.navTab {
  display: -webkit-flex;
  -webkit-flex: 1;
  background-color: $blue-main;
  text-align: center;
  border-radius: $roundBorder;
  box-shadow: $itemShadow;
  width: $nav-btnW;
  padding-top: 10%;
  padding-bottom: 5%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: width 0.5s ease-in-out;

  &.active {
    color: #53C8E9;
    background-color: $blue-white;
    box-shadow: $itemShadow-select;
    z-index: 25;
    width: $nav-btnW + 1;
  }
}

.navTabText {
  margin: auto;
}

.nav-svg {
  height: 65px;
  width: 65px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  //border: 1px solid yellow;
}


// ===================================================
// GLOBAL [STATE]_TEMPLATE.HTML LAYOUT
//===================================================
/*
  This section contains global styles for the state-level ion-view.
  The ion-view.state-contentBox should always be the parent ele for each [state]_template.html.

  Each ion-view.state-contentBox is injected into the root_template's ion-nav-view#content-container, which is controlled by the router and handles pg transitions and other important stuff.

  At this point, these are essentially just a css reset, which creates a full-width, full-height .state-contentBox.

  NOTE: Styles for everything below ion-view.state-contentBox are in the state's .scss file -- even theme-like elements, such as layout or the  header bar. Currently each state is self-contained thing, responsisble for implementing its own layout and styles.
*/
    .state-contentBox {
      position: relative;
      display: -webkit-flex;
      -webkit-flex: 1;
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100vw;
      font-size: 1rem;
    }

    .pane {  // not sure what this is #?
      flex-flow: column;
      background-color: transparent;
    }


    // positions the full-screen graphics in img/bgImg
    .img-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-position: bottom right;
      background-repeat: no-repeat;
      background-color: $c-bg;
      opacity: 1;
      z-index: 1;
    }


// ==================================================
// KEYFRAME ANIMATION BASE  ====================================================
// #hc (notes from 2016, worth revisiting)


  // for some reason everything breaks when I move this out of _root_styles.
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /*
    These are here b/c I couldn't get the ng-show, ng-hide, & ng-if to trigger as soon as the class changed. They would stay in the DOM and display other eles and then get cleaned up after ~0.25s
  */
  .animated.ng-enter,
  .animate-if.ng-leave {
    transition: 0s;
  }

  .animated.ng-enter,
  .animated.ng-leave.ng-leave-active {
    display: none;
  }

  .animated.ng-leave,
  .animated.ng-enter.ng-enter-active {
    display: block;
  }
