// LAYOUT general ---------------------------------------
.card-body-profile {
  position: relative;
  display: flex;
}

.profileCard-display-state {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 $col-w * 0.25; // #hm review
  //border: 1px solid lightGray;

  .userInfo-layout {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1em;
    margin-bottom: $row-h * 0.25;
    //border: 1px solid lightGray;

    .userInfo-row {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      width: 100%;
      color: $c-text-main;
      font-size: 1em;
      margin-bottom: 1.75em;
      border-bottom: 1px solid $c-bg;

      .fieldLabel {
        display: flex;
        width: 25%;
        font-size: 0.75em;
        font-weight: 600;
        color: $c-text-subtle;
        text-transform: uppercase;
        margin-right: 1em;
        line-height: normal;
        //border: 1px solid lightGray;
      }
      .fieldData {
        font-size: 1.25em;
        line-height: normal;
        //border: 1px solid lightGray;
      }
    } // .userInfo-row
  } // .userInfo-layout

  .btn-row-layout {
    position: relative;
    display: flex;
    width: 100%;
    height: $row-h;
    //flex-flow: column nowrap;
    justify-content: flex-start;
    //align-items: center;
    margin-top: 0.5em;
    //border: 1px solid lightGray;

    .button {
      height: 64px;
    }
  }
} // .profileCard-display-state

.profileCard-editing-state {}
