<div class="card-content">

	<div class="card-body card-body-profile">

		<!-- DISPLAY STATE =============================  -->
		<div class="profileCard-display-state"
			ng-hide="!data.currentProfile || isEditing">

			<div class="userInfo-layout">

				<div class="userInfo-row">
					<span class="fieldLabel">username: </span>
					<span class="fieldData">{{data.currentProfile.name}}</span>
				</div>

				<div class="userInfo-row">
					<span class="fieldLabel">age: </span>
					<span class="fieldData">{{data.currentProfile.age}} years old</span>
				</div>
				<div class="userInfo-row">
					<span class="fieldLabel">height: </span>
					<span class="fieldData">{{data.currentProfile.heightFeet}}&#146;{{data.currentProfile.heightInches}}&#148; tall</span>
				</div>

				<div class="userInfo-row">
					<span class="fieldLabel">gender: </span>
					<span class="fieldData">{{data.currentProfile.gender}}</span>
				</div>
			</div> <!-- .userInfo-layout -->

			<div class="btn-row-layout">
				<button
					type="button"
					class="button button-royal column-div"
					ng-click="optInFormalTesting()"
					ng-hide="isEditing || !data.currentProfile || data.currentProfile.formalTester"
					ng-disabled="!data.currentProfile">
					Formal Testing
				</button>

				<button
					type="button"
					class="button button-royal column-div"
					ng-click="startSession()"
					ng-hide="isEditing || !data.currentProfile || !data.currentProfile.formalTester || data.sessionIsActive || data.currentProfile.nFormalTreatmentComplete"
					ng-disabled="!data.currentProfile">
					Start Session
				</button>

				<button
					type="button"
					class="button button-royal column-div"
					ng-click="stopSession()"
					ng-hide="isEditing || !data.currentProfile || !data.currentProfile.formalTester || !data.sessionIsActive || data.currentProfile.nFormalTreatmentComplete"
					ng-disabled="!data.currentProfile">
					Stop Session
					</button>

					<button
					type="button"
					class="button button-royal column-div"
					ng-hide="!data.currentProfile.nFormalTreatmentComplete"
					ng-disabled="true">
					Formal Testing Completed
				</button>
			</div>

		</div>


		<!-- EDITING STATE =============================  -->
		<!-- || !isEditing -->
		<div class="profiles__info profileCard-editing-state" ng-hide="!data.currentProfile || !isEditing">

			<label class="item item-input">
				<span class="input-label">Name</span>
				<input
					type="text"
					name="name"
					class="profiles"
					ng-model="data.currentProfile.name"
					placeholder="Name"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>

			<label class="item item-input">
				<span class="input-label">
					Age
				</span>
				<input
					type="number"
					name="age"
					class="profiles"
					min="1"
					max="99"
					ng-model="data.currentProfile.age"
					placeholder="Age"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>

			<label class="item item-input">
				<span class="input-label">
					Height (Feet)
				</span>
				<input
					type="number"
					name="heightFeet"
					class="profiles"
					min="0"
					max="8"
					ng-model="data.currentProfile.heightFeet"
					placeholder="Feet"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>

			<label class="item item-input">
				<span class="input-label">
					Inches
				</span>
				<input
					type="number"
					name="heightInches"
					class="profiles"
					min="0"
					max="11"
					ng-model="data.currentProfile.heightInches"
					placeholder="Inches"
					ng-class="editing"
					ng-disabled="!isEditing">
			</label>

			<label class="input item-input sexBtn-row" radio-group>
				<span>Gender</span>
				<ion-radio
					name="sex"
					ng-model="data.currentProfile.gender"
					ng-value="'Female'"
					ng-class="editing"
					ng-disabled="!isEditing">
					Female
				</ion-radio>

				<ion-radio
					name="sex"
					ng-model="data.currentProfile.gender"
					ng-value="'Male'"
					ng-class="editing"
					ng-disabled="!isEditing">
					Male
				</ion-radio>
			</label>
		</div>

	</div> <!-- card-body -->


	<div class="card-foot">
		<div class="">
			<button
				type="button"
				class="button button-balanced column-div"
				ng-click="setIsEditing(true)"
				ng-hide="isEditing"
				ng-disabled="!data.currentProfile"
				ng-hide="!data.currentProfile">
				<!-- <div class="s-ico32 l-ico-cWhite ico-stroke2"
					ng-include=" './img/icons/line/edit.svg' " >
				</div> -->
				Edit User Profile
			</button>

			<button
				type="button"
				class="button button-positive column-div"
				ng-click="saveProfile()"
				ng-hide="!isEditing">
				Save
			</button>

			<button
				type="button"
				class="button button-calm column-div"
				ng-click="cancelEdit()"
				ng-hide="!isEditing">
				Cancel
			</button>

			<button
				type="button"
				class="button button-assertive column-div"
				ng-click="deleteProfile(data.currentProfile)"
				ng-show="!isEditing"
				ng-disabled="!data.currentProfile">

				<!-- <div class="s-ico32 l-ico-cWhite"
					ng-include=" './img/icons/line/delete.svg' " >
				</div> -->
				<!-- <i class="icon ion-trash-b"></i> -->
				Delete User Profile
			</button>

		</div>
	</div> <!-- card-foot -->

</div>
