// ================================================
// LAYOUT
// ================================================
.free-layout_view-container {
	position: relative;
  display: flex;
	width: 100vw;
	height: 100vh;
	//background-color: $c-bg; //#2018

	.free-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		// the bg images for Free are styled in words_styles.scss
	}

	.free-layout_content-container  {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		margin-top: $row-h * 1.5;
		margin-left: $navW;
		height: $row-h * 4;
		width: $col-w * 9;
    justify-content: space-between;
    align-items: center;
		z-index: 10;
		// border: 1px solid cyan;
	} // .free-layout_content-container
} // .free-layout_view-container

// ================================================
// STATE STYLES
// ================================================

.free-header {}


.free-lpcFrame {
	position: relative;
	width: 100%;
	height: 460px;
	border-radius: 6px;
	display: block;
	background-color: #F0F9FC;
	border: 15px solid #F0F9FC;
	border-bottom: 25px solid #F0F9FC;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.25);

	.free-lpcBox {
		width: 100%;
		height: 405px;
		padding-top: 35px;
		background-color: $blue-light;

		.reset-button { // adds to base styles from lpc-directive
			margin-top: $row-h * -0.4;
			border-radius: 4px;
			background-color: white;
			box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
			z-index: 100;
		}
	} //.free-lpcBox
} // .free-lpcFrame
