// ================================================
// LAYOUT
// ================================================
.free-layout_view-container {
	position: relative;
  display: flex;
	width: 100vw;
	height: 100vh;
	//background-color: $c-bg; //#2018

	.free-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.img-bg_BF {
			background-color: $c-bg;
			background-image: url("../img/bgImg/bg-BF.svg");
			z-index: 1;
		}
	} // free-layout_bg-container

	.free-layout_content-container  {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		height: 100%;
		padding-top: $row-h;
		width: 100%;
    justify-content: space-between;
    align-items: center;
		z-index: 10;
		// border: 1px solid cyan;
	} // .free-layout_content-container
} // .free-layout_view-container

// ================================================
// STATE STYLES
// ================================================

.free-header {}

.free-lpcBox {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	height: $row-h * 4;
	width: 100%;
	//border: 1px solid cyan;
}
