// ================================================
// LAYOUT
// ================================================

.free-layout_view-container {
	position: relative;
  display: flex;
	width: 100vw;
	height: 100vh;
	//background-color: $c-bg; //#2018

	.free-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.free-layout_content-container  {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		margin-top: $row-h * 1.5;
		margin-left: $navW;
		height: $row-h * 4;
		width: $col-w * 9;
    justify-content: space-between;
    align-items: center;
		z-index: 10;
		// border: 1px solid cyan;
  }

  .free-lpcBox {
    width: 100%;
  }
}

// ================================================
// STATE STYLES
// ================================================

.free-header {}
