.sandbarBox {
	position: relative;
	height: $rowH * 2;
	width: 100%;
	top: $rowH * 4;
	display: flex;
	flex-direction: column;
	z-index: 1;
	background-image: url("../img/tutorial/sand.svg");
	background-size: auto 100%;
	//border: 1px solid lime;
}

.sandbar-coinRow {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	height: 100%;
	margin-left: $navW;
	width: 100vw - $navW - $col-pad;
	z-index: 25;
	//border: 1px solid orange;
}

.sandbar-coinBox {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 10px;
	height: 100%;
	width: 160px;

	color: $grey-txtMain;
	border-top-color: $yellow-light;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	z-index: 25;
}

div.sandbar-coinImgBox {
	height: 60px; //64%; //64%; //100%; //
	align-items: center;
	// height: $rowHalf; //		#hc need a var for nav icon size
	width: 100px;
	//border: 1px solid tan;
}

.sandbar-coinTxt {
	margin-top: 0px;
	//font-weight: bold;

}

.activeCoin {
	color: $blue-dark;
	font-weight: bold;
}
