lpc-directive {
	display: -webkit-flex;
	-webkit-flex: 1;
	margin: auto;
	flex-flow: row;
	width: 100%;
  height: 100%;
  justify-content: space-around;
}

// This is the THREEjs element.
// Its H & W should be determined by its parent ele.
#lpc-canvas {
	margin: auto;

	width: 100%; //conflict
	height: 100%; //conflict
	z-index: 10; //conflict
}

#lpc-canvas-parentSize {
	z-index: 10;
	width: 100%;
	height: 88%;
	display: flex;
	align-items: center;

	&.buttons_visible {
		width: 88%;
	}
}

.waveLabel {
	font-size: 35px;
	width: 100%;
}

.lpcCanvasSize-big { // not working
	// width: 780px;
	// height: 380px; //#hc
	//border: 1px solid lime;
}

.lpcCanvasSize-tutorial {  // not working
	// width: 480px;
	// height: 150px; //#hc
	//border: 1px solid red;
}



.lpc-container {  /* This is the light blue box*/
  position: relative;
  width: 100%;
	height: 460px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	display: block;
	background-color: #F0F9FC;
	border: 15px solid #F0F9FC;
	border-bottom: 25px solid #F0F9FC;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);

  &.transparent-background {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

}

.slider-and-canvas {
	display: inline-block;
	width: 88%;
	height: 88%;
	margin-top: 4%;
	position: absolute;
	left: 0;

	&.full-width
	{
		width: 100%;
	}
}

.lpc-buttons {
	display: inline-block;
	position: absolute;
	width: 12%;
  right: 0;
}

.reset-button {
	float: right;
	margin-top: 0px;
  margin-right: 0px;
  top: 250px;
}

.rate-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: -100;
  height: 230px;
  width: 130px;
}

.rate-box .rating-button-container {
	float: right;
	height: 72px;
	width: 125px;
	border: 0px solid red;
	position: relative;
	font-size: 0.90em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	z-index: 99;
	border: 0;
  display: block;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;

  &.great {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20125%2072%22%3E%3Cg%20id%3D%22goldOFF%22%3E%3Cpath%20id%3D%22bottom%22%20fill%3D%22%23ffc95f%22%20d%3D%22M125%2072H41.78L24.59%2036H125v36z%22/%3E%3Cpath%20id%3D%22top%22%20fill%3D%22%23ffd576%22%20d%3D%22M125%200H41.78L24.59%2036H125V0z%22/%3E%3C/g%3E%3C/svg%3E");
    .rateBtnTxt {
      background-color: #ffc95f;
    }
  }

  &.good {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20125%2072%22%3E%3Cg%20id%3D%22silverOFF%22%3E%3Cpath%20id%3D%22bottom%22%20fill%3D%22%23f0f9fc%22%20d%3D%22M125%2072H41.29L24%2036h101v36z%22/%3E%3Cpath%20id%3D%22top%22%20fill%3D%22%23fff%22%20d%3D%22M125%200H41.29L24%2036h101V0z%22/%3E%3C/g%3E%3C/svg%3E");
    .rateBtnTxt {
      background-color: #f0f9fc;
      color: #408BA2;
    }
  }

  &.try-again {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20125%2072%22%3E%3Cg%20id%3D%22bronzeOFF%22%3E%3Cpath%20id%3D%22bottom%22%20fill%3D%22%23efbd88%22%20d%3D%22M125%2072H41.29L24%2036h101v36z%22/%3E%3Cpath%20id%3D%22top%22%20fill%3D%22%23f7c8a1%22%20d%3D%22M125%200H41.29L24%2036h101V0z%22/%3E%3C/g%3E%3C/svg%3E");
    .rateBtnTxt {
      background-color: #efbd88;
    }
  }
}

.rateBtnTxt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 76px;
  height: 49px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.85em;
  font-weight: 500;
  color: white;
  border: 0;
}

.lpc-range {
	height: 400px;
	background-color: transparent;
	position: absolute;
	top: 0;
	z-index: 9999999999;
	left: 0;
	height: 100%;
	width: 100%;

	input {
		background: transparent;
	}
}

.lpc-container input[type='range'] {
	background-color: transparent;
	box-shadow: none;
	overflow: visible;
	position: absolute;
	bottom: 72px;
	left: 0;
	width: 100%;
	z-index: 3;

	&::-webkit-slider-thumb {
		height: 400px;
		display: block;
		background: url('../img/star2.svg') no-repeat;
		background-size: 50px 50px;
		background-position: center bottom;
		box-shadow: none;
		border-radius: 0;
		position: relative;
		bottom: 100px;
	}
}

.lpc-container output {
	position: absolute;
	top: 20px;
	display: block;
	width: 50px;
	height: 24px;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	border-radius: 3px;
	color: $grey-txtMain;
	font-size: .8em;
	font-weight: bold;
	line-height: 24px;
	text-align: center;

	&:after
	{
		content: '';
		height: 350px;
		width: 2px;
		background-color: white;
		display: block;
		margin-left: 50%;
		margin-right: 50%;
		position: absolute;
		top: -30px;
		z-index: -1;
	}

}

#sand {
	height: 60px;
	display: block;
	position: absolute;
	left: -1px;
	bottom: 0px;
	width: 100.3%;
	background-color: $yellow-main;
}
