lpc-directive {
	display: -webkit-flex;
	-webkit-flex: 1;
	margin: auto;
	flex-flow: column;
}

#lpc-canvas { /* This is the THREEjs element*/
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 10;
}

.lpc-container {  /* This is the light blue box*/
	position: relative;
	width: 800px;
	height: 400px;
	margin: 0;
	padding: 0;
	border-radius: 4px;
	display: block;
	background-color: #F0F9FC;
	border: 15px solid #F0F9FC;
	border-bottom: 25px solid #F0F9FC;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.slider-and-canvas {
	display: inline-block;
	width: 88%;
	position: absolute;
	left: 0;

	&.full-width
	{
		width: 100%;
	}
}

.lpc-buttons {
	display: inline-block;
	position: absolute;
	width: 12%;
	right: 0;
}

.reset-button {
	height: 65px;
	background-color: #FFECCB;
	color: #e79b4c;
	float: right;
	border: 0px solid red;
	position: relative; 
	height: 65px;
	width: 80px;
	margin: 0px;
	padding: 5px; 
	font-size: 0.90em;
	font-family: 'Quicksand', 'Helvetica Neue', sans-serif;
	font-weight: 800;
	text-align: center;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	z-index: 99;
	border: 0;
	display: block;
}

.rate-box button {
	float: right;
    height: 75px;
    width: 75px;
    padding: 10px;
    border-radius: 75px;
    margin-bottom: 20px;
    border: 0px solid red;
    position: relative;
    font-size: 0.90em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #53C8E9;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
    z-index: 99;
    border: 0;
    display: block;

    &:active {
    	background-color: darken(#53C8E9, 10%);
    }
}

.lpc-range {
	height: 400px;
	background-color: transparent;
	position: absolute;
	top: 0;
	z-index: 9999999999;
	left: 0;
	height: 100%;
	width: 100%;

	input {
		background: transparent;
	}
}

.lpc-container input[type='range'] {
	background-color: transparent;
	box-shadow: none;
	overflow: visible;
	position: absolute;
	bottom: 72px;
	left: 0;
	width: 100%;
	z-index: 3;

	&::-webkit-slider-thumb {
		height: 400px;
		display: block;
		background: url('../img/star2.svg') no-repeat;
		background-size: 50px 50px;
		background-position: center bottom;
		box-shadow: none;
		border-radius: 0;
		position: relative;
		bottom: 100px;
	}
}

.lpc-container output {
	position: absolute;
	top: 20px;
	display: block;
	width: 50px;
	height: 24px;
	border: 1px solid #e2e2e2;
	background-color: #fff;
	border-radius: 3px;
	color: $grey-txtMain;
	font-size: .8em;
	font-weight: bold;
	line-height: 24px;
	text-align: center;

	&:after
	{
		content: '';
		height: 350px;
		width: 2px;
		background-color: white;
		display: block;
		margin-left: 50%;
		margin-right: 50%;
		position: absolute;
		top: -30px;
		z-index: -1;
	}

}

#sand {
	height: 60px;
	display: block;
	position: absolute;
	left: -1px;
	bottom: 0px;
	width: 100.3%;
	background-color: $yellow-main;
}
