<!-- .lpc-container is the light blue containing box-->
<div ng-class="{'lpc-container': !tutorial, 'lpc-container-tutorial': tutorial}">

	<!-- this holds the lpc renderer -->
	<div
		id="lpc-canvas-parentSize"
		ng-class="{'slider-and-canvas': !tutorial, buttons_visible: rate}"
		ng-class="{'full-width': !rate && !reset && !tutorial}"
		>
		<!-- Renderer will be inserted here -->
		<canvas
			id="lpc-canvas"
			ng-hide="lpcHidden || probe || waveHidden" >
		</canvas>

		<div
			class="waveLabel"
			ng-hide="!(lpcHidden || probe || waveHidden)" >
			Wave Hidden
		</div>

	</div>

	<div class="lpc-buttons">

		<div class="rate-box" ng-if="rate">
			<button
				ng-click="data.rating = 3"
				ng-class="{selected: data.rating === 3}"
			>
				Great
			</button>
			<button
				ng-click="data.rating = 2"
				ng-class="{selected: data.rating === 2}"
			>
				Good
			</button>
			<button
				ng-click="data.rating = 1"
				ng-class="{selected: data.rating === 1}"
			>
				Try Again
			</button>
		</div>

		<button
			ng-click="stopPractice()"
			class="reset-button big-button"
			ng-if="rate">
			Stop {{type}} {{probe ? "probe" : "practice"}}
		</button>

		<button
			ng-click="resetF3()"
			class="reset-button big-button"
			ng-if="reset && !probe">
			Reset Target
		</button>

		<button
			ng-click="showLPC()"
			class="reset-button big-button"
			ng-if="!probe && hideBtn"
			ng-hide="!lpcHidden || rate">
			Show Wave
		</button>

		<button
			ng-click="hideLPC()"
			class="reset-button big-button"
			ng-if="!probe && hideBtn"
			ng-hide="true || lpcHidden || rate">
			Hide Wave
		</button>
	</div>

</div>
