<div class="lpc-container">

	<div
		class="slider-and-canvas"
		ng-class="{'full-width': !rate && !reset}">
		<!-- Renderer will be inserted here -->
		<canvas id="lpc-canvas" ng-hide="lpcHidden" ></canvas>
	</div>

	<div class="lpc-buttons">
		<div class="rate-box" ng-if="rate">
			<button
				ng-click="data.rating = 1"
				ng-class="{selected: data.rating === 1}"
			>
				Poor
			</button>
			<button
				ng-click="data.rating = 2"
				ng-class="{selected: data.rating === 2}"
			>
				Decent
			</button>
			<button
				ng-click="data.rating = 3"
				ng-class="{selected: data.rating === 3}"
			>
				Great
			</button>
		</div>

		<button
			ng-click="resetF3()"
			class="reset-button big-button"
			ng-if="reset">
			Reset Target
		</button>

		<button
			ng-click="showLPC()"
			class="reset-button big-button"
			ng-hide="!lpcHidden || rate">
			Show Wave
		</button>

		<button
			ng-click="hideLPC()"
			class="reset-button big-button"
			ng-hide="lpcHidden || rate">
			Hide Wave
		</button>
	</div>

</div>
