<div class="lpc-container">

	<div
		class="slider-and-canvas"
		ng-class="{'full-width': !rate && !reset}"
		on-touch="touched($event)"
		on-drag="touched($event)">
		<!-- Renderer will be inserted here -->
	</div>

	<div class="lpc-buttons">
		<div class="rate-box" ng-if="rate">
			<button ng-click="data.rating = 1">
				Poor
			</button>
			<button ng-click="data.rating = 2">
				Decent
			</button>
			<button ng-click="data.rating = 3">
				Great
			</button>
		</div>

		<button
			ng-click="resetF3()"
			class="reset-button"
			ng-if="reset">
			Reset Target
		</button>
	</div>


</div>
