#app-container {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

#nav-and-content-container
{
  display: flex;
  flex-flow: row nowrap;
}

#nav-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  width: 10vw;
  z-index: 999;
}

#content-container {
  text-align: center;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
  width: 90vw;

}

.lpc-container {
  display: -webkit-flex;
  -webkit-flex: 1;
}

.text-and-lpc {
  display: -webkit-flex;
  -webkit-flex: 1;
}

.text-and-lpc__text
{
  font-size: 1rem;
  margin-top: 4rem;
}

.pane
{
  flex-flow: column;
}

.navTabs {
  background-color: lightgray;
  height: 100vh;
  display: -webkit-flex;
  -webkit-flex: 1;
  -webkit-flex-direction: column;
}

.navTab {
  background-color: white;
  margin: 5px;
  text-align: center;
  display: -webkit-flex;
  -webkit-flex: 1;
}

.navTabText {
  margin: auto;
}

.bigtext {
  font-size: 55pt;
}

item {
}

.testbutton {
  background-color: lightblue;
}

.testbutton:active {
  background-color: darkblue;
}
