.words-contentBox { // parent ele (is this still in use?)
		//border: 1px solid lime;
}

.coinBox-layout {
  text-align: left;
  margin: auto;
  margin-top: -400px;
}

.coin_stack {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 33px;
  margin: 0 4px -21px 4px;
}

img.coin {
  position: absolute;
}

.practice-directive-container {
  height: 100%;
}

 .promptBox-layout {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: $row-h;
  height: $row-h;
  width: 96%;
  //border: 1px solid tan;

   .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: $row-h;
    width: $col-w * 6.5;
    border-bottom: 1px solid white;
  }
}

 .words-word {
  font-size: 5em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: $c-text-main;
  // border: 1px solid red;

  &.small {
    font-size: 3.75em;
  }

  &.tiny {
    font-size: 2.5em;
  }
}
 .words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
	//border: 1px solid red;
}
