.words-contentBox { // parent ele (is this still in use?)
		//border: 1px solid red;
}

.practice-directive-container {
  height: 100%;
  width: 100%;
  //border: 1px solid lime;
}

// TOOLBAR ------------------------------------
// see common-styles/toolbar

// WORD PROMPT ------------------------------------
 .promptBox-layout {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: $row-h;
  height: $row-h;
  width: 100%;
  padding-left: $col-w * 3;
  padding-right: $col-w * 2;


   .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    height: $row-h;
    width: 100%;

    border-bottom: 1px solid white;
  }
}

 .words-word {
  font-size: 5em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: $c-text-main;
  // border: 1px solid red;

  &.small {
    font-size: 3.75em;
  }

  &.tiny {
    font-size: 2.5em;
  }
}
 .words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
  //color: $c-text-main;
  color: $c-text-subtle;
	//border: 1px solid red;
}


// LPC DIRECTIVE: Wave & Rating Btns -------------------------
.lpcDir-layout_quiz-quest {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  //border: 1px solid blue;

  lpc-directive { //styled in lpc-directive
    div.lpc-contentBox { // styled in lpc-directive
      // contains both wave and rateBtns only

      div#lpc-canvas-parentSize {
        position: relative;
        width: 100%;
        height: $row-h * 4;
        top: $row-h;
        //border: 1px solid blue;
      } // #lpc-canvas-parentSize

    } // .lpc-contentBox
  } // lpc-directive
} // .lpcDir-layout_quiz-quest


// COIN ROW ------------------------------------
.coin-row-layout {
  position: absolute;
  top: $row-h * 5;
  left: $col-w * 2;
  width: $col-w * 7;
  height: $row-h * 0.8;
  //border: 1px solid red;
}
 .coinBox-layout {
  text-align: left;
  margin: auto;
}
 .coin_stack {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 33px;
  margin: 0 4px -21px 4px;
}
 img.coin {
  position: absolute;
}
