.words-contentBox { // parent ele (is this still in use?)
		//border: 1px solid lime;
}

// -----------------------------------------------
.practice-directive-container {
  height: 100%;
}

 .promptBox-layout {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: $row-h;
  height: $row-h;
  width: 100%;
  // border: 1px solid tan;

   .promptBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin-left: $col-w * 2;
    align-items: center;
    height: $row-h;
    width: $col-w * 6.5;
    border-bottom: 1px solid white;
  }
}

 .words-word {
  font-size: 5em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  color: $c-text-main;
  // border: 1px solid red;
}
 .words-progress-indicator {
	display: inline-block;
	vertical-align: middle;
	//border: 1px solid red;
}

// ---------------------------------------

.coin-row-layout {
  position: absolute;
  top: $row-h * 5;
  left: $col-w * 3;
  width: $col-w * 7;
  height: $row-h * 0.8;
  // border: 1px solid red;
}

.coinBox-layout {
  text-align: left;
  margin: auto;
}


.coin_stack {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 33px;
  margin: 0 4px -21px 4px;
}

img.coin {
  position: absolute;
}
