<div class="words-contentBox" >
  <button
    style="margin:40px;"
    ng-click="beginWordPractice()"
    ng-hide="suppressStartButton || isPracticing || !hasValidWordList">
    Start {{type}} {{probe ? "probe" : "practice"}}
  </button>
  <button
    style="margin:40px;"
    ng-click="nextWord()"
    ng-hide="!isPracticing"
    ng-if="false">
    Next {{type}}
  </button>
  <div class="word-status">
    <p
      ng-hide="!isPracticing"
      class="words-word">
      {{carrier_phrase.replace("___", currentWord)}}
    </p>
    <p
      ng-hide="!isPracticing"
      class="words-progress-indicator">
      {{currentWordIdx + 1}}/{{count}}
    </p>
  </div>
  <div class="debug">
    <div ng-if="coins_consecutive_gold > coins_consecutive_gold_breakpoints[0]">
      Congratulations! <strong>{{coins_consecutive_gold_display}}</strong> golds in a row!
    </div>
    highscore: {{block_coins_highscore}} gold, {{block_score_highscore}} points <br />
    coins session summary: {{session_coins}}<br />
    coins by block:
    <div ng-repeat="block in block_coins">
      {{block}}
    </div>
  </div>
  <lpc-directive
    probe="probe"
    slider="true"
    rate="isPracticing"
    reset="true"
    sand="true"
    tutorial="false"
    type="type"
    wave-hidden="forceWaveHidden || isFeedbacking"
    hide-btn="true"
    />
</div> <!-- end words-contentBox-->
