<div class="words-contentBox">

	<button style="margin:40px;" ng-click="beginWordPractice()" ng-hide="isPracticing || !hasValidWordList">
		Start {{type}} {{probe ? "probe" : "practice"}}
	</button>
	<button
		style="margin:40px;"
		ng-click="nextWord()"
		ng-hide="!isPracticing"
		ng-if="false">
		Next {{type}}
	</button>
	<div class="word-status">
	<p
		ng-hide="!isPracticing"
		class="words-word">
		{{currentWord}}
	</p>
	<p
		ng-hide="!isPracticing"
		class="words-progress-indicator">
		--- {{currentWordIdx + 1}} of {{count}}
	</p>
	</div>

	<lpc-directive
		probe="probe"
		slider="true"
		rate="isPracticing"
		reset="true"
		sand="true"
		tutorial="false"
		type="type"
		waveHidden="isFeedbacking"
		hide-btn="true"
	/>

</div> <!-- end words-contentBox-->
