<div class="words-contentBox practice-directive-container">

  <!-- TOOLBAR ------------------------------- -->

  <!-- Toolbar, as designed -->
  <!--
  <div class="toolbar-container">
      <div class="toolbar-tab" ng-repeat="tab in toolbar"
      ng-click={{tab.action}}>
        <div class="tbTab-icon l-ico-cTextSubtle"
          ng-include="tab.icon"></div>
        <div class="tbTab-txt">{{tab.title}}</div>
      </div>
  </div>
  -->



  <!-- Temp 'Stop Session' Button
      (will be replaced by toolbar in the future) -->
  <div class="toolbar-container">
    <div class="toolbar-tab-long"
      ng-click="tbStop()">
        <div class="tbTab-txt_temp">Stop<br/>{{probe ? "Quiz" : "Quest"}}</div>
        <div class="tbTab-icon_temp l-ico-cTextSubtle"
          ng-include=" './img/icons/line/anchor.svg' ">
        </div>
    </div>
  </div>


<!-- (what is this? #sjt) ----------------------------- -->
  <button style="margin:40px;"
    ng-click="beginWordPractice()"
    ng-hide="suppressStartButton || isPracticing || !hasValidWordList">
    Start {{type}} {{probe ? "probe" : "practice"}}
  </button>

  <button style="margin:40px;" ng-click="nextWord()" ng-hide="!isPracticing" ng-if="false">
    Next {{type}}
  </button>


  <!-- PROMPT BOX ------------------------------- -->
  <div class="promptBox-layout" ng-hide="!isPracticing">
    <div class="promptBox">
      <p class="words-progress-indicator"> {{currentWordIdx + 1}} of {{count}} </p>
      <p ng-class="{
        'words-word': true,
        'small': smallFont,
        'tiny': tinyFont
      }">
        {{carrier_phrase.replace("___", currentWord)}}
      </p>
    </div>
  </div>


  <!-- LPC DIRECTIVE: Wave & Rating Btns --------------- -->
  <div class="lpcDir-layout_quiz-quest">

    <lpc-directive
     probe="probe"
     slider="true"
     rate="isPracticing"
     reset="true"
     tutorial="false"
     type="type"
     wave-hidden="forceWaveHidden || isFeedbacking"
     hide-btn="true"
     beach="true">
    </lpc-directive>

   </div> <!-- end quest-lpcDir-layout -->


   <!-- COIN ROW ------------------------------- -->
   <div class="coin-row-layout" ng-if="!probe">
     <div class="coinBox-layout" style="width: {{sandholes.length * 41}}px;">
       <div class="sand_coins">
         <div ng-repeat="stack_coins in block_coins track by $index" class="coin_stack">
           <img ng-repeat="stack_coin in stack_coins track by $index" src="img/stackCoins/stackCoin-{{stack_coin}}.png"
             class="coin" style="bottom: {{$index * 6}}px" />
         </div>
       </div>
       <div class="sand_holes">
         <img ng-repeat="i in sandholes track by $index" src="img/stackCoins/sandHole.png" />
       </div>
     </div>
   </div>

</div> <!-- end words-contentBox-->
