// .card-body-settings {  // parent class
// }

.card-body-settings .pro_range-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
  border: 1px solid pink;
}

.range-label {
	line-height: 100%;
	font-weight: bold;
	width: 40px;
	white-space: pre-line;
	padding: 1em 0;
	font-size: 0.9rem;

	&:first-child 	{
		padding-left: 0;
	}
}

.pro_lpcBox { // card width is ~ col-w * 5.5
	width: 100%; //$col-w * 3;
	height: $row-h * 1;
	margin-top: 1em;
  margin-bottom: 2em;
  border: 1px solid lime;
}

// .lpc-container {
//   width: 100%; //$col-w * 3;
// 	height: $row-h * 1;
// 	// border: 1px solid red;
// }
//
#lpc-canvas-parentSize {
	width: 100%;
	// left: $col-w * 0.1;
	height: $row-h * 1;
  border: 1px solid red;
}
