// .card-body-settings {  // parent class
// }

.range-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
  border: 1px solid pink;
}

.range-label {
	line-height: 100%;
	font-weight: bold;
	width: 40px;
	white-space: pre-line;
	padding: 1em 0;
	font-size: 0.9rem;

	&:first-child 	{
		padding-left: 0;
	}
}

// .res-lpcBox {
// 	width: $col-w * 9;
// 	height: $row-h * 3;
// 	margin-top: $row-h * 0.25;
// }

// .resources .lpc-container {
// 	height: $row-h * 3;
// 	width: $col-w * 9;
// 	//border: 1px solid lime;
// }

// .resources #lpc-canvas-parentSize {
// 	width: $col-w * 8.65;
// 	// left: $col-w * 0.1;
// 	height: $row-h * 2.5;
// }
