// LAYOUT ----------------------------------------------
.card-body-settings {  // parent class. height: $row-h * 3;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	height: 100%;
	width: 100%;
	//border: 1px solid pink;

	.cardBod-settings-row {
		position: relative;
		display: flex;
		min-height: 1em;
		width: 100%;
		//border: 1px solid tan;
	}

	p {
		font-size: 0.9em;
		font-weight: 600;
	}

}

// LPC ROW ----------------------------------------------

.pro_lpc-row { // card width is ~ col-w * 5.5
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	//align-items: flex-start;
	width: 100%;
	min-height: $row-h * 1;
	margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 4px;
  background-color: rgba(194,242,242, 0.5); //#c2f2f2;
  //border: 1px solid lime;

	.fiterOrder-label-row {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		//align-items: flex-start;
		width: 100%;
		//border: 1px solid lime;

		.fiterOrder-label {
			position: relative;
			padding: 0 1em;
			top: 0.5em;
			font-weight: 500;
			font-size: 2.5em;
			line-height: 1.5;
			//border: 1px solid red;
		}
	}

  #lpc-canvas-parentSize {
  	width: 100%;
    height: $row-h * 0.75;
    //border: 1px solid blue;
  }
}

// RANGE INPUT ROW --------------------------------------
.pro_range-row {
	display: flex;
	flex-flow: column nowrap;
	//justify-content: space-between;
	//align-items: flex-start;
	max-height: $row-h * 1;
	width: 100%;
	//border: 1px solid pink;
}

.pro_range-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	//align-items: flex-end;
	width: 100%;
	//border: 1px solid lime;

	.range-label {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		text-align: center;
		//border: 1px solid pink;
	} // .range-label

	input[type=range].pro_range-input {
		-webkit-appearance: none;
		height: 25px;
		border-radius: 25px;
		background-color: rgba(194,242,242, 0.5); // #C5F3FF;
		box-shadow: inset 2px 2px 2px rgba(77, 77, 77, 0.25);
		width: 100%; //560px;
		margin: 1.5em 0;
		//border: 1px solid orange;
	}

} // .pro_range-container
