<div class="card-content">

	<div class="card-body card-body-settings">

		<div class="cardBod-settings-row pro_lpc-row">
			<div class="fiterOrder-label-row">
				<span class="fiterOrder-label">{{data.lpcOrder}}</span>
			</div>

			<lpc-directive
				slider="false"
				beach="false"
				tutorial="false">
			</lpc-directive>

		</div>


		<div class="cardBod-settings-row pro_range-row">

			<p>Use the slider to manually adjust the LPC filter order.
			<br/>In general, the filter order should be between 35 and 45.
			</p>

			<div class="pro_range-container">
				<!-- <div class="range-label">min. 25</div> -->
				<input class="pro_range-input" type="range" min="25" max="45" ng-model="data.lpcOrder" ng-change="updatePluginLPCOrder()" />
				<!-- <div class="range-label">max. 45</div> -->
			</div> <!-- end .pro_range-container -->

		</div> <!-- end .pro_range-row -->

	</div> <!-- end .card-body -->

	<div class="card-foot">
		<button name="reset" ng-click="resetPluginLPCOrder()" class="reset-button big-button">Reset</button>
	</div>
	<!-- card-foot -->

</div>
