// ================================================
// LAYOUT
// ================================================
.auto-layout_view-container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;

	.auto-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.img-bg_qz--BG {
			background-color: $c-bg;
			background-image: url("../img/bgImg/bg_quiz--background.svg");
			z-index: 1 !important;
		}
		.img-bg_qz--FG {
			background-image: url("../img/bgImg/bg_quiz--foreground.svg");
			z-index: 5 !important;
		}
	}

	.auto-layout_content-container  {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-left: 0;
		height: 100%;
		width: 100%;
		justify-content: space-around;
		z-index: 10;
		//border: 1px solid cyan;
	}
}

// ================================================
// QUIZ STATE STYLES
// ================================================

// MENU PAGE ---------------------------------------------
// Styles used ONLY in Quiz menu page (!practicing)
.quiz-menu-page {
	height: 100%;
	padding: $row-h $col-w;
	padding-left: $col-w * 2;
}

.quiz-menu-row {
	position: relative;
	display: flex;
	width: 100%;
	min-height: $row-h;
	padding-top: $row-h * 0.5;
	//border: 1px solid pink;
}

.quiz-header-row {
	flex-flow: column nowrap;
	text-align: center;

	h2 { margin-bottom: 1em; }

	p {}
}

.quiz-description-row {
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
	padding-bottom: $row-h * 0.75;

	.quiz-description {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		width: 30%;

		p {
			min-height: $row-h * 0.75;
		}

		.btn-row {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			align-items: flex-start;
			margin: 0;
			padding: 0;
		}
	}
}



// QUIZ PAGES -----------------------------------------------
// The ui for the Quizzes (praciting && !configuring) are
// primarily handled by the lpc-directive & the practice-directive
// -----------------------------------------------------------

// holds the practice-directive, which contains both
// the promptBox & rateBtns
.quiz-practice-page {
	position: relative;
	height: 100%;
	width: 100%;
	//border: 1px solid lime;
}
