// ================================================
// LAYOUT
// ================================================
.auto-layout_view-container {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh;

	.auto-layout_bg-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.auto-layout_content-container  {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: $row-h * 1.5;
		margin-left: $navW;
		height: $row-h * 4;
		width: $col-w * 9;

		justify-content: space-around;
		z-index: 10;
		// border: 1px solid cyan;
	}
}


// ================================================
// STATE STYLES
// ================================================


.probe-header {
	width: 100%;
	flex: 1 0 auto;
}

.probe-header h2 {
	text-align: center;
	width: 55%;
	margin: auto;
}

.probe-header p {
	text-align: center;
	width: 55%;
	margin: auto;
}

.probe-description-row {
	width: 100%;
	flex: 1 0 auto;
	display: flex;
	justify-content: space-around;
}

.probe-description {
	width: 30%;
}

.probe-button-class {
	flex: 1 0;
	display: flex;
	justify-content: center;
}

.probe-buttons {
	display: flex;
	flex: 1 0 auto;
}
