<ion-view view-title="Test Probes" class="state-contentBox">
	<div class="auto-contentBox">

		<div class="text-and-lpc__text" ng-hide="practicing">
			Syllable or Word Probes
		</div>

		<!-- 30 items, sequential -->
		<button
			class="big-button"
			ng-click="beginSyllableProbe()"
			ng-hide="practicing"
		>
			Syllable Probe
		</button>

		<!-- 50 items, random -->
		<button
			class="big-button"
			ng-click="beginWordProbe()"
			ng-hide="practicing"
		>
			Word Probe
		</button>

		<practice-directive
			probe="true"
			csv="csv"
			order="order"
			count="count"
			end-practice-callback="endProbeCallback()">
		</practice-directive>

	</div> <!-- .auto-contentBox -->
</ion-view>
