<ion-view class="state-contentBox">

	<div class="auto-layout_view-container">
		<ion-nav-bar class="{{ (practicing) ? 'ion-nav-bar' : 'ion-nav-bar--old' }}">
			<ion-nav-title>{{data.navTitle}}</ion-nav-title>
		</ion-nav-bar>

		<!-- full-screen & abs pos eles go in here -->
		<div class="auto-layout_bg-container">
			<div ng-if="practicing" class="img-bg img-bg_qz--BG"></div>

			<div ng-if="practicing" class="img-bg img-bg_qz--FG"></div>
		</div>


		<!-- ===================================== -->
		<!-- flexbox page content goes here -->
		<div class="auto-layout_content-container">

			<div class="quiz-menu-page" ng-hide="practicing">

				<div class="quiz-menu-row quiz-header-row">
					<h2 class="text-and-lpc__text">
						What would you like to test?
					</h2>

					<p> Use the quizzes to track your progress over time. <br/>
					You can compare your scores before and after a period of practice. </p>
				</div>

				<div class="quiz-menu-row quiz-description-row">

					<div class="quiz-description">
						<h3>Syllable Quiz</h3>
						<p>
							Imitate the clinician's model of syllables containing /r/
							 (ten syllables, three times each).
						</p>

						<div class="btn-row">
							<button
								class="big-button"
								ng-click="beginSyllableProbe()"
								ng-hide="practicing"
							>
								Syllable Quiz
							</button>
						</div>
					</div>

					<div class="quiz-description">
						<h3>Word Quiz</h3>
						<p>
							Read words containing /r/. The long quiz
							 contains 50 words and the short quiz contains 25 words.
						</p>
						<div class="btn-row">
							<button
								class="big-button"
								ng-click="beginWordProbe(50)"
								ng-hide="practicing"
							>
								Long Word Quiz
							</button>

							<button
								class="big-button"
								ng-click="beginWordProbe(25)"
								ng-hide="practicing"
							>
								Short Word Quiz
							</button>
						</div>
					</div>
				</div>
			</div> <!-- end quiz-menu-page -->


			<!-- ============================== -->
			<div class="quiz-practice-page" ng-hide="!practicing">

				<practice-directive
					begin-on-load="true"
					ng-if="practicing"
					probe="true"
					csvs="csvs"
					order="order"
					count="count"
					type="type"
					suppress-start-button="true"
					end-practice-callback="endProbeCallback()">
				</practice-directive>

			</div> <!-- end quiz-practice-page -->

		</div> <!-- .auto-layout -->
	</div> <!-- .auto-contentBox -->
</ion-view>
