<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="site.girlfriends.start.audio"
        version="0.0.1">
    <name>staRt Audio Plugin</name>
    <description>Native audio calls for staRt. LPC and stuff like that</description>

    <engines>
      <engine name="cordova" version=">=3.8.1" />
    </engines>

    <js-module src="www/alert.js" name="AudioPlugin">
      <clobbers target="AudioPlugin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="AudioPlugin">
          <param name="ios-package" value="AudioPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <source-file src="src/ios/AudioPlugin/lib/libAudioPlugin.a" framework="true"/>
      <framework src="Foundation.framework" weak="true" />
      <framework src="AVFoundation.framework" weak="true" />
      <framework src="Accelerate.framework" weak="true" />
      <framework src="AudioToolbox.framework" weak="true" />
      <header-file src="src/ios/AudioPlugin/AudioPlugin/AudioPlugin.h"/>
      <!-- <source-file src="src/ios/AudioPlugin/AudioPlugin/AudioPlugin.m"/> -->
      <!-- <source-file src="src/ios/audio-plugin/frameworks/libTheAmazingAudioEngine.a" framework="true"/> -->
    </platform>
</plugin>
